<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Animais</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="animalForm">

    <ion-item>
      <ion-label position="floating">Nome: </ion-label>
      <ion-input formControlName="nome" type="text"> </ion-input>
      <ion-text
        color="danger"
        *ngIf="nome?.invalid && (nome?.dirty || nome?.touched)"
      >
        <small *ngIf="nome?.errors?.['required']">
          O campo nome é obrigatório
        </small>
        <small *ngIf="nome?.errors?.['minlength']">
          O campo nome deve conter no mínimo
          {{ nome?.errors?.['minlength'].requiredLength }} caracteres
        </small>
        <small *ngIf="nome?.errors?.['maxlength']">
          O campo nome deve conter no máximo
          {{ nome?.errors?.['maxlength'].requiredLength }} caracteres
        </small>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Data de nascimento: </ion-label>

      <ion-datetime-button datetime="datetime"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="datetime"
            formControlName="dataNascimento"
            display-format="DD de MMMM de YYYY"
            min="1930-01-01"
            presentation="date"
            showDefaultButtons="true"
            doneText="Selecionar"
            cancelText="Cancelar"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Raça: </ion-label>
      <ion-input formControlName="raca" type="text"> </ion-input>
      <ion-text
        color="danger"
        *ngIf="raca?.invalid && (raca?.dirty || raca?.touched)"
      >
        <small *ngIf="raca?.errors?.['required']">
          O campo raça é obrigatório
        </small>
      </ion-text>
    </ion-item>        

    <ion-list>
      <ion-list-header>
        <ion-label>Gênero</ion-label>
      </ion-list-header>
      <ion-radio-group name="genero" formControlName="genero">
        <ion-item>
          <ion-radio slot="start" value="M">Macho</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio slot="start" value="F">Fêmea</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>Tipo</ion-label>
      </ion-list-header>
      <ion-radio-group name="tipo" formControlName="tipo">
        <ion-item>
          <ion-radio slot="start" value="C">Cachorro</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio slot="start" value="G">Gato</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>    

    <ion-item>
      <ion-label>Foto do Animal</ion-label>
      <input type="file" #fileInput (change)="selecionarArquivo($event)" accept="image/*" style="display: none;">
      <ion-icon name="camera" (click)="fileInput.click()" style="font-size: 35; cursor: pointer;"></ion-icon>
    </ion-item>

    <ion-card class="custom-image-card" *ngIf="imagensSelecionadas.length > 0">
      <ion-card-content>
        <img [src]="imagensSelecionadas[0]" [alt]="nome?.value || 'Imagem do Animal'" class="custom-image">
      </ion-card-content>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="salvar()" [disabled]="!animalForm.valid">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form> 
  <div class="spacer"></div>
</ion-content>

