<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button/>
    </ion-buttons>
    <ion-title>Animais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col
      size-lg="4"
      size-md="6"
      size-sm="12"
      *ngFor="let animal of animais"
    >
      <ion-card>
        <div style="width: 100%; height: 240px; object-position: center; padding: 1rem; padding-bottom: 0; overflow: hidden;">
          <ion-img
            [src]="animal.foto"
            alt="Imagem Não Cadastrada"
            style="object-fit: cover;"
          />
        </div>
        <ion-card-header>
          <ion-card-title>{{ animal.nome }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ animal.genero }} |
          {{ animal.tipo }} |
          {{ animal.raca }} |
          {{ calcularIdade(animal.dataNascimento) }} ano(s)
        </ion-card-content>
        <ion-buttons style="display: flex; justify-content: space-around;">
          <ion-button color="primary" [routerLink]="['edicao', animal.id]">
            <ion-icon name="create" slot="icon-only"/>
          </ion-button>
          <ion-button color="primary" (click)="confirmarExclusao(animal)">
            <ion-icon name="trash" slot="icon-only"/>
          </ion-button>
        </ion-buttons>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" style="right:20px">
  <ion-fab-button [routerLink]="['cadastro']">
    <ion-icon name="add"/>
  </ion-fab-button>
</ion-fab>

